* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
}

h2 {
	font-size: 5rem;
	font-weight: bold;
	padding: 3rem;
	color: #546e7a;
}

.coming-soon {
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.countdown {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.style{
	font-size: 3rem;
}

.waiting {
	height: 70vh;
}

@media (max-width: 800px) {
    .coming-soon {
        box-sizing: content-box;
    }


    /* .section-left, .section-right {
        font-size: 30px;
    } */
    
    
} 
